<template>
    <app-layout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                LaravelAutoMag-Admin Page
            </h2>
        </template>
        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg px-4 py-4">                   
                    <table class="table-fixed w-full">
                        <thead>
                            <tr class="bg-gray-100">
                                <th class="px-4 py-2 w-20">UserID.</th>
                                <th class="px-4 py-2">Name</th>
                                <th class="px-4 py-2">Email</th>                                
                                <th class="px-4 py-2">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="user in users" :key="user.id">
                                <td class="border px-4 py-2 text-center">{{ user.id }}</td>
                                <td class="border px-4 py-2 text-center">{{ user.name }}</td>
                                <td class="border px-4 py-2 text-center">{{ user.email }}</td>
                                <td class="border px-4 py-2">
                                    <Link @click="deleteUser(user.id)" class="bg-red-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded my-3">Delete User</Link>                       
                                </td>
                            </tr>
                        </tbody>
                    </table><br><br>
                    <table class="table-fixed w-full">
                        <thead>
                            <tr class="bg-gray-100">
                                <th class="px-4 py-2 w-20">CarID.</th>
                                <th class="px-4 py-2">Brand</th>
                                <th class="px-4 py-2">Price</th>
                                <th class="px-4 py-2">Contact User</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="car in cars" :key="car.id">
                                <td class="border px-4 py-2 text-center">{{ car.id }}</td>
                                <td class="border px-4 py-2 text-center">{{ car.brand }}</td>
                                <td class="border px-4 py-2 text-center">{{ car.price }}</td>
                                <td class="border px-4 py-2 text-center">{{ car.user.email }}</td>                                
                            </tr>
                        </tbody>
                    </table>                                   
                </div>
            </div>
        </div>
    </app-layout>
</template>
<script>
    import AppLayout from '@/Layouts/AppLayout'
    import Welcome from '@/Pages/Welcome'
    import { Link } from '@inertiajs/inertia-vue3'       
    export default {
        components: {
            AppLayout,
            Welcome,
            Link
        },
        props: ['users','cars'],
        data() {
            return {
               //
            }
        },
        methods: {
            deleteUser(id) {
                if (confirm('Are you sure you want to delete this user?')) {
                    this.$inertia.delete(`/deleteuser/${id}`)
                }  
            }              
        }
    }
</script>