<template>
    <app-layout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                LaravelAutoMag-Create Car
            </h2>
        </template>        
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">                      
                <form action="/cars" method="POST" class="w-full max-w-sm" @submit.prevent="submit">
                    <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">                        
                            <div class="mb-4">
                                <label for="brand" class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Brand:</label>
                                <input type="text" v-model="form.brand" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="(enter car brand)">
                                <div v-if="errors.brand" class="font-bold text-red-600">{{ errors.brand }}</div>                                
                            </div>
                            <div class="mb-4">
                                <label for="year" class="block text-gray-700 text-sm font-bold mb-2">Year:</label>
                                <select v-model="form.year" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                                    <option disabled value="">(select year)</option>                                  
                                    <option v-for="year in years" :value="year">{{ year }}</option>
                                </select>
                                <div v-if="errors.year" class="font-bold text-red-600">{{ errors.year }}</div>                                
                            </div>                                      
                            <div class="mb-4">
                                <label for="price" class="block text-gray-700 text-sm font-bold mb-2">Price:</label>
                                <input type="number" v-model="form.price" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="(enter car price)">
                                <div v-if="errors.price" class="font-bold text-red-600">{{ errors.price }}</div>                                
                            </div>
                            <div class="mb-4">
                                <label for="gearbox" class="block text-gray-700 text-sm font-bold mb-2">Gearbox:</label>
                                <input type="radio" v-model="form.gearbox" class ="mr-1" value="Manual">Manual
                                <input type="radio" v-model="form.gearbox" class ="mr-1" value="Automatic">Automatic
                                <div v-if="errors.gearbox" class="font-bold text-red-600">{{ errors.gearbox }}</div>                                
                            </div>
                            <div class="mb-4">
                                <label for="emissions" class="block text-gray-700 text-sm font-bold mb-2">Emissions Type:</label>
                                <select v-model="form.emissions" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                                    <option selected>(select emission)</option>                                   
                                    <option>Euro 1</option>
                                    <option>Euro 2</option>  
                                    <option>Euro 3</option>    
                                    <option>Euro 4</option>
                                    <option>Euro 5</option>
                                    <option>Euro 6</option> 
                                </select>
                                <div v-if="errors.emissions" class="font-bold text-red-600">{{ errors.emissions }}</div>                                
                            </div>
                            <div class="mb-4">
                                <label for="service" class="block text-gray-700 text-sm font-bold mb-2">Service Book:</label>
                                <input type="checkbox" v-model="form.service" true-value="yes" false-value="no" class="form-check-input appearance-none h-4 w-4 border border-gray-300">
                            </div>
                            <div class="mb-4">
                                <label for="information" class="block text-gray-700 text-sm font-bold mb-2">Other Information:</label>
                                <textarea v-model="form.information" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700" placeholder="(other information)"></textarea>
                            </div>                                   
                            <div class="mb-4">
                                <label for="images" class="block text-gray-700 text-sm font-bold mb-2">Car Images:</label>
                                <input type="file" multiple @input="form.images=$event.target.files">
                                <div v-if="errors.images" class="font-bold text-red-600">{{ errors.images }}</div>
                            </div>                        
                    </div>                          
                    <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                        <span class="flex w-full rounded-md shadow-sm sm:ml-3 sm:w-auto">
                            <button type="submit" class="inline-flex justify-center w-full rounded-md border border-transparent px-4 py-2 bg-green-600 text-base leading-6 font-medium text-white shadow-sm hover:bg-green-500 focus:outline-none focus:border-green-700 focus:shadow-outline-green transition ease-in-out duration-150 sm:text-sm sm:leading-5">
                                Submit
                            </button>
                        </span>                             
                    </div>
                </form>
            </div>        
    </app-layout>
</template>
<script>
    import AppLayout from '@/Layouts/AppLayout'
    import Welcome from '@/Pages/Welcome'
    import { useForm } from '@inertiajs/inertia-vue3'     
    
    export default {
        components: {
           AppLayout,
           Welcome
        },

        props: {
            errors: Object,
        },

        computed:{
            years() {
                const year = new Date().getFullYear()
                return Array.from({length: year - 1960}, (value, index) => 1961 + index)
                }
        },

        setup(){
           const form = useForm({
                        brand: null,
                        year: null,                                              
                        price: null,
                        gearbox: null,
                        emissions: null,
                        service: null,
                        information: null,
                        images:null,                                                                  
                    })


            const submit = () => {
                form.post("/cars")                
            }        

            return { form, submit}
        },
    }
</script>