<template>
    <app-layout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                LaravelAutoMag-Edit Car
            </h2>
        </template>              
        <form action="/updatecar" method="POST" class="w-full max-w-sm" @submit.prevent="submit">
            <table class="md:table-fixed">                        
                <tr>
                    <td><label for="brand" class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Brand:</label></td>
                    <td><input type="text" id="brand" v-model="form.brand" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"></td>
                    <div v-if="errors.brand" class="font-bold text-red-600">{{ errors.brand }}</div>                                
                </tr>                    
                    <td><label for="year" class="block text-gray-700 text-sm font-bold mb-2">Year:</label></td>
                    <td>
                        <select v-model="form.year" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="exampleFormControlInput1">
                            <option disabled value="">(select year)</option>                                  
                            <option v-for="year in years" :value="year">{{ year }}</option>
                        </select>
                    </td>        
                    <div v-if="errors.year" class="font-bold text-red-600">{{ errors.year }}</div>
                <tr>
                    <td><label for="price" class="block text-gray-700 text-sm font-bold mb-2">Price:</label></td>
                    <td><input type="number" id="price" v-model="form.price" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700"></td>
                    <div v-if="errors.price" class="font-bold text-red-600">{{ errors.price }}</div>                                
                </tr>
                <tr>            
                    <td><label for="gearbox" class="block text-gray-700 text-sm font-bold mb-2">Car Gearbox</label></td>
                    <td>
                        <input type="radio" v-model="form.gearbox" class ="mr-1" value="Manual">Manual
                        <input type="radio" v-model="form.gearbox" class ="mr-1" value="Automatic">Automatic
                    </td>
                    <div v-if="errors.gearbox" class="font-bold text-red-600">{{ errors.gearbox }}</div>
                </tr>
                <tr>
                    <td><label for="emissions" class="block text-gray-700 text-sm font-bold mb-2">Car Emissions</label></td>
                    <td>
                        <select v-model="form.emissions" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700">
                            <option disabled value="">(select emission)</option>                                   
                            <option>Euro 1</option>
                            <option>Euro 2</option>  
                            <option>Euro 3</option>    
                            <option>Euro 4</option>
                            <option>Euro 5</option>
                            <option>Euro 6</option>  
                        </select>
                    </td>
                    <div v-if="errors.emissions" class="font-bold text-red-600">{{ errors.emissions }}</div>
                </tr>
                <tr>
                    <td><label for="service" class="block text-gray-700 text-sm font-bold mb-2">Service Book</label></td>
                    <td><input type="checkbox" v-model="form.service" true-value="yes"
                        false-value="no" class="form-check-input appearance-none h-4 w-4 border border-gray-300"></td>                       
                </tr>
                <tr>
                    <td><label for="information" class="block text-gray-700 text-sm font-bold mb-2">Other Informations</label></td>
                    <td><textarea v-model="form.information" rows="5" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700"></textarea></td>
                </tr>      
                <tr class="mb-4" v-for="carphoto in car.carphotos" :key="carphoto.id">
                    <td><img class="object-cover h-150 w-150" :src="carphoto.image"></td>
                    <td>
                        <button type="button" 
                            @click="destroyOnePicture(carphoto.id)" class="inline-flex justify-center rounded-md border border-transparent px-4 py-2 bg-red-600">
                            Delete
                        </button>
                    </td>
                </tr>
                <tr>
                    <td><label for="images" class="block text-gray-700 text-sm font-bold mb-2">Car Images:</label></td>
                    <td><input type="file" multiple @input="form.images=$event.target.files"></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button class="inline-flex justify-center rounded-md border border-transparent px-4 py-2 bg-blue-600">
                            Update
                        </button>
                    </td>
                </tr>                             
            </table>
        </form>
    </app-layout>
</template>
<script>
    import AppLayout from '@/Layouts/AppLayout'
    import Welcome from '@/Pages/Welcome'
    import { useForm } from '@inertiajs/inertia-vue3'     
    
    export default {

        props:['car','errors'],

        components: {
           AppLayout,
           Welcome
        },

        computed:{
            years() {
                const year = new Date().getFullYear()
                return Array.from({length: year - 1960}, (value, index) => 1961 + index)
                }
        },
        
        setup(props){
           const form = useForm({
                        brand: props.car.brand,
                        year: props.car.year,                                              
                        price: props.car.price,
                        gearbox: props.car.gearbox,
                        emissions: props.car.emissions,
                        service: props.car.service,
                        information: props.car.information,
                        images:props.car.image,                                                                  
                    })

            const submit = () => {
                form.post('/updatecar/'+props.car.id);
            }        

            return {form, submit}
        },

        methods:{
            destroyOnePicture(id){
                this.$inertia.delete(`/destroypicture/${id}`)
            }    
        }
    }
</script>