<template>
    <app-layout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                LaravelAutoMag-Search Car
            </h2>
        </template>
        <div class="py-12">            
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="flex justify-center">
                    <table class="table-fixed border-solid">
                        <tr>
                            <td><label for="brand">Car Brand:</label></td>
                            <td><input type="text" v-model="brand"  class="ml-2 px-4 py-1 text-sm rounded border"></td>
                        </tr>
                        <tr>
                            <td><label for="price">Car Year:</label></td>
                            <td>
                                <select v-model="fromyear" class="ml-2 px-4 py-1 text-sm rounded border">
                                    <option disabled value="">(from year)</option>                                  
                                    <option v-for="year in years" :value="year">{{ year }}</option>
                                </select>
                            </td>
                            <td>
                                <select v-model="toyear" class="ml-2 px-4 py-1 text-sm rounded border">
                                    <option disabled value="">(to year)</option>                                  
                                    <option v-for="year in years" :value="year">{{ year }}</option>
                                </select>
                            </td>                  
                        </tr>
                        <tr>
                            <td><label for="price">Car Price:</label></td>
                            <td><input type="number" v-model="pricefrom" placeholder="(from)" class="ml-2 px-4 py-1 text-sm rounded border"></td>
                            <td><input type="number" v-model="priceto" placeholder="(to)" class="ml-2 px-4 py-1 text-sm rounded border"></td>                  
                        </tr>
                        <tr>            
                            <td><label for="gearbox">Car Gearbox:</label></td>
                            <td>
                                <input type="radio" v-model="gearbox" class ="mr-1" value="Manual">Manual
                                <input type="radio" v-model="gearbox" class ="mr-1" value="Automatic">Automatic
                            </td>
                        </tr>
                        <tr>            
                            <td><label for="emissions" class="block text-gray-700 text-sm font-bold mb-2">Emissions Type:</label></td>
                            <td>
                                <select v-model="emissions" class="ml-2 px-4 py-1 text-sm rounded border">
                                    <option selected>(select emission)</option>                                   
                                    <option>Euro 1</option>
                                    <option>Euro 2</option>  
                                    <option>Euro 3</option>    
                                    <option>Euro 4</option>
                                    <option>Euro 5</option>
                                    <option>Euro 6</option> 
                                </select>
                            </td>
                        </tr>
                        <tr>            
                            <td><label for="service" class="block text-gray-700 text-sm font-bold mb-2">Service Book:</label></td>
                            <td><input type="checkbox" v-model="service" true-value="yes" false-value="no" class="form-check-input appearance-none h-4 w-4 border border-gray-300"></td>
                        </tr>    
                        <tr>
                            <td>
                                <button type="button" @click="search" class="rounded-l rounded-r px-4 py-2 bg-blue-600 hover:bg-red-700">
                                    Search
                                </button>
                            </td>
                            <td>
                                <button @click="reset" class="rounded-l rounded-r px-4 py-2 bg-green-600 hover:bg-yellow-700">
                                    Reset
                                </button>
                            </td>
                        </tr>
                    </table>    
                </div>
                <br>
                <div class="flex space-x-4 mb-4">
                    <label for="filter">Filter Results:</label>
                    <select  v-model="filter" @change="search" v-if="cars.data.length >=1" class="ml-2 px-4 py-1 text-sm rounded border">
                        <option disabled value="">(filter results)</option>
                        <option value="asc">Price Ascending</option>
                        <option value="desc">Price Descending</option>
                        <option value="newest">Newest</option>
                        <option value="oldest">Oldest</option>
                    </select>
                </div>        
                <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg px-4 py-4">                    
                    <table class="table-fixed w-full">
                        <thead>
                            <tr class="bg-gray-100">
                                <th class="px-4 py-2 w-20">CarID.</th>
                                <th class="px-4 py-2">Brand</th>
                                <th class="px-4 py-2">Price</th>
                                <th class="px-4 py-2">Contact User</th>
                                <th class="px-4 py-2">Car Images</th>
                                <th class="px-4 py-2">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-if="cars.data.length > 0" v-for="car in cars.data" :key="car.id">
                                <td class="border px-4 py-2 text-center">{{ car.id }}</td>
                                <td class="border px-4 py-2 text-center">{{ car.brand }}</td>
                                <td class="border px-4 py-2 text-center">{{ car.price }}</td>
                                <td class="border px-4 py-2 text-center">{{ car.email }}</td>
                                <td class="border px-4 py-2 center">
                                    <img class="object-cover h-150 w-150" v-for="carphoto in car.photos" :src="carphoto.image" :key="carphoto.id"> 
                                </td>
                                <td class="border px-4 py-2">
                                    <Link :href="route('cars.show', car.id)" class="bg-green-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded my-3">Show Car</Link>
                                </td>
                            </tr>
                            <tr v-if="cars.data.length === 0">
                                <td class="px-6 py-4 border-t" colspan="6">No cars found.</td>
                            </tr>  
                        </tbody>
                    </table>
                    <pagination class="mt-12" :links="cars.links" />                    
                </div>
            </div>
        </div>
    </app-layout>
</template>
<script>
    import AppLayout from '@/Layouts/AppLayout'
    import Welcome from '@/Pages/Welcome'
    import { Link } from '@inertiajs/inertia-vue3'  
    import Pagination from '@/Shared/Pagination.vue'     
    export default {
        components: {
            AppLayout,
            Welcome,
            Link,
            Pagination
        },

        props: ['cars','filters','car'],

        data() {
            return{
                brand:'',
                fromyear:1960,
                toyear:'',            
                pricefrom:0,
                priceto:99999,
                gearbox:'',
                emissions:'',
                service:'',                             
                filter:''
            }
        },

        computed:{
            years() {
                const year = new Date().getFullYear()
                return Array.from({length: year - 1960}, (value, index) => 1961 + index)
                }
        },

        created(){
             this.brand = this.filters.brand;
             this.fromyear = this.filters.fromyear;
             this.toyear = this.filters.toyear;                          
             this.pricefrom = this.filters.pricefrom;
             this.priceto = this.filters.priceto;
             this.gearbox = this.filters.gearbox;
             this.emissions = this.filters.emissions;
             this.service = this.filters.service;             
             this.filter = this.filters.filter;                          
        },

        methods: {
            search(){
                this.$inertia.get('cars', {brand:this.brand, fromyear:this.fromyear, toyear:this.toyear, pricefrom:this.pricefrom, priceto:this.priceto, gearbox:this.gearbox, emissions:this.emissions, service:this.service, filter:this.filter});
            },

            reset(){
                this.brand = null;                 
                this.$inertia.get('cars');
            },                   
        }
    }
</script>