<template>
    <app-layout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                LaravelAutoMag-by Jetstream-Inertia
            </h2>
        </template>
        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg px-4 py-4">
                    <Link href="/cars/create" method="get" as="button" type="button" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded my-3">Create New Car</Link>
                    <table class="table-fixed w-full">
                        <thead>
                            <tr class="bg-gray-100">
                                <th class="px-4 py-2 w-20">CarID.</th>
                                <th class="px-4 py-2">Brand</th>
                                <th class="px-4 py-2">Price</th>
                                <th class="px-4 py-2">Contact User</th>
                                <th class="px-4 py-2">Car Images</th>
                                <th class="px-4 py-2">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="car in cars" :key="car.id">
                                <td class="border px-4 py-2 text-center">{{ car.id }}</td>
                                <td class="border px-4 py-2 text-center">{{ car.brand }}</td>
                                <td class="border px-4 py-2 text-center">{{ car.price }}</td>
                                <td class="border px-4 py-2 text-center">{{ car.user.email }}</td>
                                <td class="border px-4 py-2 center">                                 
                                  <img class="object-cover h-150 w-150" v-for="carphoto in car.carphotos" :src="carphoto.image" :key="carphoto.id"> 
                                </td>
                                <td class="border px-4 py-2">
                                    <Link :href="route('cars.show', car.id)" class="bg-green-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded my-3">Show Car</Link><br><br>                                                                        
                                    <Link :href="route('cars.edit', car.id)" class="bg-yellow-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded my-3">Edit Car</Link><br><br>                                    
                                    <Link @click="deleteCar(car.id)" class="bg-red-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded my-3">Delete Car</Link>
                                </td>
                            </tr>
                        </tbody>
                    </table>                    
                </div>
            </div>
        </div>
    </app-layout>
</template>
<script>
    import AppLayout from '@/Layouts/AppLayout'
    import Welcome from '@/Pages/Welcome'
    import { Link } from '@inertiajs/inertia-vue3'       
    export default {
        props: ['cars','car'],

        components: {
            AppLayout,
            Welcome,
            Link
        },
        
        data() {
            return {
               //
            }
        },

        methods: {
            deleteCar(id) {
                if (confirm('Are you sure you want to delete this car?')) {
                    this.$inertia.delete(`/cars/${id}`)
                }  
            }           
        }
    }
</script>