<template>
    <app-layout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                LaravelAutoMag-Show Car
            </h2>
        </template>
        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg px-4 py-4">                    
                    <table class="table-fixed w-full">
                        <tr>
                            <td colspan="2" class="border px-4 py-2 center">
                                <img class="object-cover h-150 w-150" v-for="carphoto in car.carphotos" :src="carphoto.image" :key="carphoto.id"> 
                            </td>        
                        </tr>
                        <tr class="bg-gray-100">
                            <th class="border px-4 py-2 w-20">CarID.</th>
                            <td class="border px-4 py-2 text-center">{{ car.id }}</td>
                        </tr>
                        <tr>    
                            <th class="border px-4 py-2">Brand</th>
                            <td class="border px-4 py-2 text-center">{{ car.brand }}</td>
                        </tr>
                        <tr>    
                            <th class="border px-4 py-2">Year</th>
                            <td class="border px-4 py-2 text-center">{{ car.year }}</td>
                        </tr>
                        <tr>    
                            <th class="border px-4 py-2">Price</th>
                            <td class="border px-4 py-2 text-center">{{ car.price }}</td>
                        </tr>
                        <tr>    
                            <th class="border px-4 py-2">Gearbox</th>
                            <td class="border px-4 py-2 text-center">{{ car.gearbox }}</td>
                        </tr>
                        <tr>    
                            <th class="border px-4 py-2">Emissions</th>
                            <td class="border px-4 py-2 text-center">{{ car.emissions }}</td>
                        </tr>
                        <tr>    
                            <th class="border px-4 py-2">Service Book</th>
                            <td class="border px-4 py-2 text-center">{{ car.service }}</td>
                        </tr>
                        <tr>    
                            <th class="border px-4 py-2">Other Information</th>
                            <td class="border px-4 py-2 text-center">{{ car.information }}</td>
                        </tr>
                        <tr>    
                            <th class="border px-4 py-2">Contact User</th>
                            <td class="border px-4 py-2 text-center">{{ car.user.email }}</td>
                        </tr>                            
                    </table>                    
                </div>
            </div>
        </div>
    </app-layout>
</template>
<script>
    import AppLayout from '@/Layouts/AppLayout'
    import Welcome from '@/Pages/Welcome'
    import { Link } from '@inertiajs/inertia-vue3'       
    export default {
        components: {
            AppLayout,
            Welcome,
            Link
        },
        props: ['car'],
        data() {
            return {
               //
            }
        },
        methods: {
            //           
        }
    }
</script>